{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Your Profile</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <h2>Your Profile</h2>
  <form method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Account</legend>
      {{ uform.as_p }}
    </fieldset>
    <fieldset>
      <legend>Profile</legend>
      {{ pform.as_p }}
    </fieldset>
    <button type="submit">Save changes</button>
  </form>
</body>
</html>
